body.stop-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 0px) and (max-width: 320px) {
  .container {
    width: 285px !important;
  }
  .main-block {
    height: 830px !important;
    justify-content: flex-start;
    padding-top: 120px;
  }
  header {
    height: 80px;
    padding-left: 15px;
    padding-right: 15px;
  }
  header .header__menu {
    display: none;
  }
  header .header__menu-btn {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  header .header__menu-btn i {
    font-size: 16px;
  }
  header .mobile-menu {
    display: block;
  }
  header .mobile-menu__close i {
    font-size: 24px;
  }
  header .mobile-menu__list {
    height: 80%;
  }
  header .mobile-menu-active {
    transform: translateX(0%);
    position: fixed;
  }
  .container__infoblock {
    width: 100%;
    height: 240px;
    justify-content: center;
    margin-top: 40px;
  }
  .container__infoblock .infoblock__space {
    top: 50%;
    transform: translateY(-50%);
    left: 200px;
    height: 195px;
  }
  .container__infoblock .infoblock__text {
    width: 100%;
  }
  .container__infoblock .infoblock__text h1 {
    position: absolute;
    top: -120px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 10px;
  }
  .container__infoblock .infoblock__text .text__author {
    position: absolute;
    bottom: -165px;
    left: 50%;
    transform: translateX(-50%);
  }
  .container__infoblock .infoblock__text .text__author .author__name {
    font-size: 50px;
    margin-right: 140px;
  }
  .container__infoblock .infoblock__text .text__author .author__secondname {
    font-size: 50px;
    margin-right: -50px;
    margin-top: 0;
  }
  .container__infoblock .infoblock__text .text__buttons {
    position: absolute;
    bottom: -370px;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    width: 100%;
    height: 160px;
  }
  .container__infoblock .infoblock__text .text__buttons .buttons__but {
    width: 100%;
  }
  .container__infoblock .infoblock__img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    width: 200px;
    margin-right: 40px;
  }
  .container__infoblock .infoblock__social {
    position: absolute;
    top: 50%;
    transform: translateY(-29%);
    right: -15px;
    width: 20px;
    height: auto;
  }
  .container__infoblock .infoblock__social .social__button {
    margin-top: 14px;
  }
  .container__infoblock .infoblock__social .social__button:first-child {
    margin-top: 0px;
  }
  .main__arrow {
    display: none;
  }
  .block2 {
    height: 600px;
  }
  .block2 .block2__text {
    font-size: 18px;
    height: 420px;
    line-height: 30px;
  }
  .block3__prem {
    flex-direction: column;
    height: 860px;
  }
  .prem__column {
    width: 285px;
  }
  .column__space-1, .column__space-2, .column__space-3 {
    left: 0;
  }
  .column__text {
    width: 260px;
  }
  .block4 {
    padding-bottom: 80px;
  }
  .block4 .container {
    width: 310px !important;
  }
  .block4 .container .block4__gallery {
    width: 310px;
  }
  .block4 .container .block4__gallery h2 {
    font-size: 40px;
  }
  .block4 .container .block4__gallery .gallery__tabs {
    width: 285px;
  }
  .block4 .container .block4__gallery .gallery__tabs .tabs__button {
    font-size: 14px;
  }
  .block4 .container .block4__gallery .gallery__photos .photos__column {
    margin-left: 2px;
    margin-right: 2px;
  }
  .block4 .container .block4__gallery .gallery__photos img {
    margin-bottom: 4px;
    box-shadow: none;
  }
  .block4 .container .block4__gallery .block4__buttons {
    flex-direction: column;
    width: 285px;
    height: 140px;
    margin-top: 70px;
  }
  .block4 .container .block4__gallery .block4__buttons .button-4 {
    width: 100%;
  }
  .block5 .container h3 {
    font-size: 40px;
  }
  .block5__pricelist {
    width: 285px;
    flex-direction: column;
    height: 1500px;
  }
  .block5__pricelist .pricelist__col {
    width: 100%;
  }
  .block5__pricelist .pricelist__col .col__space1 {
    left: 0;
  }
  .block5__pricelist .pricelist__col .col__space3 {
    left: 0;
  }
  .block5__pricelist .pricelist__col .col__list {
    width: 250px;
  }
  .block5__pricelist .pricelist__col .col__text {
    width: 250px;
  }
  .block6-slider {
    height: 355px;
  }
  .block6-slider .block6-slider__slide {
    height: 345px;
  }
  .block6-slider .slide__feedback {
    width: 275px;
  }
  .block6-slider .slide__feedback .feedback__text {
    width: 92%;
    font-size: 16px;
  }
  .swiper-button-next {
    right: -5px;
  }
  .swiper-button-prev {
    left: -5px;
  }
  .block6-avatars {
    width: 275px;
  }
  .block7 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .block7__title {
    font-size: 40px;
  }
  .block7-content {
    flex-direction: column;
    width: 285px;
    height: 1170px;
  }
  .block7-content .form-sent {
    width: 285px;
    padding-bottom: 30px;
  }
  .block7-content .form-sent__title {
    font-size: 24px;
    top: -15px;
    width: 230px;
  }
  .block7-content .form-sent__box {
    width: 250px;
  }
  .block7-content .form-sent__rule {
    width: 265px;
  }
  .block7-content .social-blog {
    width: 285px;
  }
  .footer {
    padding-top: 0;
    padding-bottom: 10px;
  }
  .footer .container {
    height: 70px !important;
  }
  .footer__rules {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    line-height: 16px;
  }
  .footer__copyright {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    text-align: center;
    width: 100%;
  }
  .footer__copyright .footer__copyright-link {
    margin-left: 0;
  }
  .footer__author {
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
  }
}
@media only screen and (min-width: 321px) and (max-width: 480px) {
  .container {
    width: 325px !important;
  }
  .main-block {
    height: 930px !important;
    justify-content: flex-start;
    padding-top: 120px;
  }
  header {
    padding-left: 15px;
    padding-right: 15px;
  }
  header .header__menu {
    display: none;
  }
  header .header__menu-btn {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  header .header__menu-btn i {
    font-size: 16px;
  }
  header .mobile-menu {
    display: block;
  }
  header .mobile-menu__list {
    height: 70%;
  }
  header .mobile-menu-active {
    transform: translateX(0%);
    position: fixed;
  }
  .container__infoblock {
    width: 100%;
    height: 270px;
    justify-content: center;
    margin-top: 62px;
  }
  .container__infoblock .infoblock__space {
    top: 50%;
    transform: translateY(-50%);
    left: 300px;
    height: 195px;
  }
  .container__infoblock .infoblock__text {
    width: 100%;
  }
  .container__infoblock .infoblock__text h1 {
    position: absolute;
    top: -125px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
  }
  .container__infoblock .infoblock__text .text__author {
    position: absolute;
    bottom: -205px;
    left: 50%;
    transform: translateX(-50%);
  }
  .container__infoblock .infoblock__text .text__author .author__name {
    font-size: 60px;
    margin-right: 160px;
  }
  .container__infoblock .infoblock__text .text__author .author__secondname {
    font-size: 60px;
    margin-right: -70px;
    margin-top: 0;
  }
  .container__infoblock .infoblock__text .text__buttons {
    position: absolute;
    bottom: -420px;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    width: 100%;
    height: 160px;
  }
  .container__infoblock .infoblock__text .text__buttons .buttons__but {
    width: 100%;
  }
  .container__infoblock .infoblock__img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    width: 240px;
    margin-right: 40px;
  }
  .container__infoblock .infoblock__social {
    position: absolute;
    top: 50%;
    transform: translateY(-28%);
    right: -15px;
    width: 20px;
    height: auto;
  }
  .container__infoblock .infoblock__social .social__button {
    margin-top: 14px;
  }
  .container__infoblock .infoblock__social .social__button:first-child {
    margin-top: 0px;
  }
  .main__arrow {
    display: none;
  }
  .block2 {
    height: 600px;
  }
  .block2 .block2__text {
    font-size: 18px;
    height: 420px;
    line-height: 30px;
  }
  .block3__prem {
    flex-direction: column;
    height: 860px;
  }
  .column__space-1, .column__space-2, .column__space-3 {
    left: 0;
  }
  .column__text {
    width: 260px;
  }
  .block4 {
    padding-bottom: 80px;
  }
  .block4 .container {
    width: 360px !important;
  }
  .block4 .container .block4__gallery {
    width: 360px;
  }
  .block4 .container .block4__gallery h2 {
    font-size: 40px;
  }
  .block4 .container .block4__gallery .gallery__tabs {
    width: 325px;
  }
  .block4 .container .block4__gallery .gallery__photos .photos__column {
    margin-left: 2px;
    margin-right: 2px;
  }
  .block4 .container .block4__gallery .gallery__photos img {
    margin-bottom: 4px;
    box-shadow: none;
  }
  .block4 .container .block4__gallery .block4__buttons {
    flex-direction: column;
    width: 345px;
    height: 140px;
    margin-top: 70px;
  }
  .block4 .container .block4__gallery .block4__buttons .button-4 {
    width: 100%;
  }
  .block5 .container h3 {
    font-size: 40px;
  }
  .block5__pricelist {
    flex-direction: column;
    height: 1500px;
  }
  .block5__pricelist .pricelist__col .col__space1 {
    left: 0;
  }
  .block5__pricelist .pricelist__col .col__space3 {
    left: 0;
  }
  .block6-slider {
    height: 355px;
  }
  .block6-slider .block6-slider__slide {
    height: 345px;
  }
  .block6-slider .slide__feedback {
    width: 275px;
  }
  .swiper-button-next {
    right: -15px;
  }
  .swiper-button-prev {
    left: -15px;
  }
  .block7 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .block7__title {
    font-size: 40px;
  }
  .block7-content {
    flex-direction: column;
    width: 325px;
    height: 1170px;
  }
  .block7-content .form-sent {
    width: 325px;
    padding-bottom: 30px;
  }
  .block7-content .form-sent__title {
    font-size: 26px;
    top: -15px;
    width: 250px;
  }
  .block7-content .form-sent__box {
    width: 250px;
  }
  .block7-content .form-sent__rule {
    width: 265px;
  }
  .block7-content .social-blog {
    width: 325px;
  }
  .block7-content .social-blog__text {
    width: 200px;
  }
  .footer {
    padding-top: 0;
    padding-bottom: 10px;
  }
  .footer .container {
    height: 70px !important;
  }
  .footer__rules {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    line-height: 16px;
  }
  .footer__copyright {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    text-align: center;
    width: 100%;
  }
  .footer__copyright .footer__copyright-link {
    margin-left: 0;
  }
  .footer__author {
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
  }
}
@media only screen and (min-width: 321px) and (max-width: 480px) and (min-height: 668px) and (max-height: 736px) {
  .container {
    width: 345px !important;
  }
  .main-block {
    height: 930px !important;
    justify-content: flex-start;
  }
  header {
    padding-left: 15px;
    padding-right: 15px;
  }
  header .header__menu {
    display: none;
  }
  header .header__menu-btn {
    display: block;
  }
  header .mobile-menu {
    display: block;
  }
  header .mobile-menu__list {
    height: 70%;
  }
  header .mobile-menu-active {
    transform: translateX(0%);
    position: fixed;
  }
  .container__infoblock {
    width: 100%;
    height: 270px;
    justify-content: center;
    margin-top: 62px;
  }
  .container__infoblock .infoblock__space {
    top: 50%;
    transform: translateY(-50%);
    left: 300px;
    height: 195px;
  }
  .container__infoblock .infoblock__text {
    width: 100%;
  }
  .container__infoblock .infoblock__text h1 {
    position: absolute;
    top: -125px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
  }
  .container__infoblock .infoblock__text .text__author {
    position: absolute;
    bottom: -225px;
    left: 50%;
    transform: translateX(-50%);
  }
  .container__infoblock .infoblock__text .text__author .author__name {
    font-size: 60px;
    margin-right: 160px;
  }
  .container__infoblock .infoblock__text .text__author .author__secondname {
    font-size: 60px;
    margin-right: -70px;
    margin-top: 0;
  }
  .container__infoblock .infoblock__text .text__buttons {
    position: absolute;
    bottom: -420px;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    width: 100%;
    height: 160px;
  }
  .container__infoblock .infoblock__text .text__buttons .buttons__but {
    width: 100%;
  }
  .container__infoblock .infoblock__img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    width: 240px;
    margin-right: 40px;
  }
  .container__infoblock .infoblock__social {
    position: absolute;
    top: 50%;
    transform: translateY(-28%);
    right: -15px;
    width: 20px;
    height: auto;
  }
  .container__infoblock .infoblock__social .social__button {
    margin-top: 14px;
  }
  .container__infoblock .infoblock__social .social__button:first-child {
    margin-top: 0px;
  }
  .main__arrow {
    display: none;
  }
  .block2 {
    height: 600px;
  }
  .block2 .block2__text {
    font-size: 20px;
    height: 400px;
    line-height: 32px;
  }
  .block3__prem {
    flex-direction: column;
    height: 860px;
  }
  .column__space-1, .column__space-2, .column__space-3 {
    left: 0;
  }
  .column__text {
    width: 260px;
  }
  .block4 .container {
    width: 400px !important;
  }
  .block4 .container .block4__gallery {
    width: 400px;
  }
  .block4 .container .block4__gallery h2 {
    font-size: 40px;
  }
  .block4 .container .block4__gallery .gallery__tabs {
    width: 345px;
  }
  .block4 .container .block4__gallery .gallery__photos .photos__column {
    margin-left: 2px;
    margin-right: 2px;
  }
  .block4 .container .block4__gallery .gallery__photos img {
    margin-bottom: 4px;
    box-shadow: none;
  }
  .block4 .container .block4__gallery .block4__buttons {
    flex-direction: column;
    width: 345px;
    height: 140px;
  }
  .block4 .container .block4__gallery .block4__buttons .button-4 {
    width: 100%;
  }
  .block5__pricelist {
    flex-direction: column;
    height: 1500px;
  }
  .block5__pricelist .pricelist__col .col__space1 {
    left: 0;
  }
  .block5__pricelist .pricelist__col .col__space3 {
    left: 0;
  }
  .block6-slider {
    height: 355px;
  }
  .block6-slider .block6-slider__slide {
    height: 345px;
  }
  .block6-slider .slide__feedback {
    width: 275px;
  }
  .swiper-button-next {
    right: -15px;
  }
  .swiper-button-prev {
    left: -15px;
  }
  .block7 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .block7__title {
    font-size: 40px;
  }
  .block7-content {
    flex-direction: column;
    width: 325px;
    height: 1170px;
  }
  .block7-content .form-sent {
    width: 325px;
    padding-bottom: 30px;
  }
  .block7-content .form-sent__title {
    font-size: 26px;
    top: -15px;
    width: 250px;
  }
  .block7-content .form-sent__box {
    width: 250px;
  }
  .block7-content .form-sent__rule {
    width: 265px;
  }
  .block7-content .social-blog {
    width: 325px;
  }
  .block7-content .social-blog__text {
    width: 200px;
  }
  .footer {
    padding-top: 0;
    padding-bottom: 10px;
  }
  .footer .container {
    height: 70px !important;
  }
  .footer__rules {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    line-height: 16px;
  }
  .footer__copyright {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    text-align: center;
    width: 100%;
  }
  .footer__copyright .footer__copyright-link {
    margin-left: 0;
  }
  .footer__author {
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
  }
}
@media only screen and (min-width: 321px) and (max-width: 480px) and (min-height: 737px) and (max-height: 812px) {
  .container {
    width: 345px !important;
  }
  .main-block {
    height: 930px !important;
    justify-content: flex-start;
  }
  header {
    padding-left: 15px;
    padding-right: 15px;
  }
  header .header__menu {
    display: none;
  }
  header .header__menu-btn {
    display: block;
  }
  header .mobile-menu {
    display: block;
  }
  header .mobile-menu__list {
    height: 70%;
  }
  header .mobile-menu-active {
    transform: translateX(0%);
    position: fixed;
  }
  .container__infoblock {
    width: 100%;
    height: 270px;
    justify-content: center;
    margin-top: 62px;
  }
  .container__infoblock .infoblock__space {
    top: 50%;
    transform: translateY(-50%);
    left: 300px;
    height: 195px;
  }
  .container__infoblock .infoblock__text {
    width: 100%;
  }
  .container__infoblock .infoblock__text h1 {
    position: absolute;
    top: -125px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
  }
  .container__infoblock .infoblock__text .text__author {
    position: absolute;
    bottom: -225px;
    left: 50%;
    transform: translateX(-50%);
  }
  .container__infoblock .infoblock__text .text__author .author__name {
    font-size: 60px;
    margin-right: 160px;
  }
  .container__infoblock .infoblock__text .text__author .author__secondname {
    font-size: 60px;
    margin-right: -70px;
    margin-top: 0;
  }
  .container__infoblock .infoblock__text .text__buttons {
    position: absolute;
    bottom: -420px;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    width: 100%;
    height: 160px;
  }
  .container__infoblock .infoblock__text .text__buttons .buttons__but {
    width: 100%;
  }
  .container__infoblock .infoblock__img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    width: 240px;
    margin-right: 40px;
  }
  .container__infoblock .infoblock__social {
    position: absolute;
    top: 50%;
    transform: translateY(-28%);
    right: -15px;
    width: 20px;
    height: auto;
  }
  .container__infoblock .infoblock__social .social__button {
    margin-top: 14px;
  }
  .container__infoblock .infoblock__social .social__button:first-child {
    margin-top: 0px;
  }
  .main__arrow {
    display: none;
  }
  .block2 {
    height: 600px;
  }
  .block2 .block2__text {
    font-size: 20px;
    height: 400px;
    line-height: 32px;
  }
  .block3__prem {
    flex-direction: column;
    height: 860px;
  }
  .column__space-1, .column__space-2, .column__space-3 {
    left: 0;
  }
  .column__text {
    width: 260px;
  }
  .block4 .container {
    width: 400px !important;
  }
  .block4 .container .block4__gallery {
    width: 400px;
  }
  .block4 .container .block4__gallery h2 {
    font-size: 40px;
  }
  .block4 .container .block4__gallery .gallery__tabs {
    width: 345px;
  }
  .block4 .container .block4__gallery .gallery__photos .photos__column {
    margin-left: 2px;
    margin-right: 2px;
  }
  .block4 .container .block4__gallery .gallery__photos img {
    margin-bottom: 4px;
    box-shadow: none;
  }
  .block4 .container .block4__gallery .block4__buttons {
    flex-direction: column;
    width: 345px;
    height: 140px;
  }
  .block4 .container .block4__gallery .block4__buttons .button-4 {
    width: 100%;
  }
  .block5__pricelist {
    flex-direction: column;
    height: 1500px;
  }
  .block5__pricelist .pricelist__col .col__space1 {
    left: 0;
  }
  .block5__pricelist .pricelist__col .col__space3 {
    left: 0;
  }
  .block6-slider {
    height: 355px;
  }
  .block6-slider .block6-slider__slide {
    height: 345px;
  }
  .block6-slider .slide__feedback {
    width: 275px;
  }
  .swiper-button-next {
    right: -15px;
  }
  .swiper-button-prev {
    left: -15px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    width: 680px !important;
  }
  .main-block {
    height: 700px !important;
    justify-content: flex-start;
  }
  .main-block .container {
    justify-content: center;
  }
  header {
    padding-left: 15px;
    padding-right: 15px;
  }
  header .header__menu {
    width: 480px;
  }
  .container__infoblock {
    width: 660px;
    height: 270px;
    justify-content: center;
    margin-top: 62px;
  }
  .container__infoblock .infoblock__space {
    top: 50%;
    transform: translateY(-50%);
    height: 175px;
  }
  .container__infoblock .infoblock__text {
    width: 330px;
  }
  .container__infoblock .infoblock__text h1 {
    font-size: 12px;
    margin-top: -20px;
  }
  .container__infoblock .infoblock__text .text__author {
    margin-top: -20px;
  }
  .container__infoblock .infoblock__text .text__author .author__name {
    font-size: 70px;
    margin-right: 220px;
  }
  .container__infoblock .infoblock__text .text__author .author__secondname {
    font-size: 70px;
    margin-right: 0;
    margin-top: 0;
  }
  .container__infoblock .infoblock__text .text__buttons {
    position: absolute;
    bottom: -160px;
    left: 50%;
    transform: translateX(-20%);
    width: 520px;
  }
  .container__infoblock .infoblock__text .text__buttons .buttons__but {
    width: 220px;
  }
  .container__infoblock .infoblock__img {
    width: 250px;
    margin-right: 60px;
  }
  .container__infoblock .infoblock__social {
    position: absolute;
    top: 50%;
    transform: translateY(-35%);
    right: 20px;
    width: 20px;
    height: auto;
  }
  .container__infoblock .infoblock__social .social__button {
    margin-top: 26px;
  }
  .main__arrow {
    display: none;
  }
  .block2 .block2__text {
    height: 250px;
    font-size: 22px;
    line-height: 30px;
  }
  .block3__prem {
    flex-direction: column;
    height: 860px;
  }
  .column__space-1, .column__space-2, .column__space-3 {
    left: 0;
  }
  .column__text {
    width: 260px;
  }
  .block4__gallery .gallery__photos .photos__column img {
    margin-bottom: 10px;
    box-shadow: none;
  }
  .block5__pricelist {
    margin: 0 auto;
    width: 285px;
    flex-direction: column;
    height: 1500px;
  }
  .block5__pricelist .pricelist__col {
    width: 100%;
  }
  .block5__pricelist .pricelist__col .col__space1 {
    left: 0;
  }
  .block5__pricelist .pricelist__col .col__space3 {
    left: 0;
  }
  .block5__pricelist .pricelist__col .col__list {
    width: 250px;
  }
  .block5__pricelist .pricelist__col .col__text {
    width: 250px;
  }
  .block6-slider {
    height: 305px;
  }
  .block6-slider .block6-slider__slide {
    height: 305px;
  }
  .block6-slider .slide__feedback {
    width: 640px;
  }
  .block6-slider .slide__feedback .feedback__account {
    margin-top: -25px;
  }
  .swiper-button-next {
    right: -15px;
  }
  .swiper-button-prev {
    left: -15px;
  }
  .block7-sent {
    overflow-x: hidden;
    height: 650px;
  }
  .block7-sent__fon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -350px;
    width: auto;
  }
  .block7-sent__form {
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  }
  .block7-sent__form .box__input, .block7-sent__form .box__text {
    border-radius: 0;
  }
  .footer__rules {
    align-items: flex-start;
    height: 100px;
  }
  .footer__rules .rules__copyright {
    bottom: -20px;
  }
  .footer__rules .rules-social {
    position: absolute;
    bottom: -20px;
    right: 0;
    height: 50px;
  }
  .footer__rules .rules__author {
    right: auto;
    left: 0;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1360px) {
  .container {
    width: 910px !important;
  }
  .main-block {
    height: 768px !important;
    justify-content: flex-start;
  }
  .main-block .container {
    justify-content: center;
  }
  header {
    padding-left: 15px;
    padding-right: 15px;
  }
  header .header__menu {
    width: 480px;
  }
  .container__infoblock {
    width: 860px;
    height: 405px;
    justify-content: space-between;
    margin-top: 40px;
  }
  .container__infoblock .infoblock__space {
    top: 50%;
    transform: translateY(-50%);
    height: 260px;
  }
  .container__infoblock .infoblock__text {
    width: 460px;
  }
  .container__infoblock .infoblock__text h1 {
    font-size: 16px;
    margin-top: -14px;
  }
  .container__infoblock .infoblock__text .text__author {
    margin-top: 0;
  }
  .container__infoblock .infoblock__text .text__author .author__name {
    font-size: 100px;
    margin-right: 320px;
  }
  .container__infoblock .infoblock__text .text__author .author__secondname {
    font-size: 100px;
    margin-right: 10px;
    margin-top: -5px;
  }
  .container__infoblock .infoblock__text .text__buttons {
    position: absolute;
    bottom: -150px;
    left: 50%;
    transform: translateX(-15%);
    width: 520px;
  }
  .container__infoblock .infoblock__text .text__buttons .buttons__but {
    width: 220px;
  }
  .container__infoblock .infoblock__img {
    width: 320px;
    margin-right: 70px;
  }
  .container__infoblock .infoblock__social {
    position: absolute;
    top: 50%;
    transform: translateY(-35%);
    right: 20px;
    width: 20px;
    height: auto;
  }
  .container__infoblock .infoblock__social .social__button {
    margin-top: 26px;
  }
  .main__arrow {
    display: none;
  }
  .block2 .block2__text {
    height: 250px;
    font-size: 22px;
    line-height: 30px;
  }
  .block3__prem {
    flex-direction: row;
    height: auto;
  }
  .prem__column {
    width: 285px;
  }
  .column__space-1, .column__space-2, .column__space-3 {
    left: 0;
  }
  .column__text {
    width: 260px;
  }
  .block4__gallery .gallery__photos .photos__column img {
    margin-bottom: 10px;
    box-shadow: none;
  }
  .block5__pricelist {
    margin: 0;
    width: 100%;
    flex-direction: row;
    height: auto;
  }
  .block5__pricelist .pricelist__col {
    width: 285px;
  }
  .block5__pricelist .pricelist__col .col__space1 {
    left: 0;
  }
  .block5__pricelist .pricelist__col .col__space3 {
    left: 0;
  }
  .block5__pricelist .pricelist__col .col__list {
    width: 250px;
  }
  .block5__pricelist .pricelist__col .col__text {
    width: 250px;
  }
  .block6-slider {
    height: 305px;
  }
  .block6-slider .block6-slider__slide {
    height: 305px;
  }
  .block6-slider .slide__feedback {
    width: 640px;
  }
  .block6-slider .slide__feedback .feedback__account {
    margin-top: -25px;
  }
  .swiper-button-next {
    right: -15px;
  }
  .swiper-button-prev {
    left: -15px;
  }
  .block7-sent {
    overflow-x: hidden;
    height: 650px;
  }
  .block7-sent__fon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -150px;
    width: auto;
  }
  .block7-sent__form {
    top: 50%;
    transform: translateY(-50%);
    right: 80px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  }
  .block7-sent__form .box__input, .block7-sent__form .box__text {
    border-radius: 0;
  }
  .footer__rules {
    align-items: flex-start;
    height: 100px;
  }
  .footer__rules .rules__copyright {
    bottom: -20px;
  }
  .footer__rules .rules-social {
    position: absolute;
    bottom: -20px;
    right: 0;
    height: 50px;
  }
  .footer__rules .rules__author {
    right: auto;
    left: 0;
  }
}